.tuberia-flotante {
    height: 23px;
    padding: 2px 10px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 50px;
    z-index: 100;
    border: 1px solid #666;
    background-color: #fff;
    opacity: 0.5;
}

.data-container {
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    /* pointer-events: none;
    touch-action:none; */
}

.data-content {
    width: auto;
    border-radius: 0px;
    padding-bottom: 55px;
    position: relative;
    border-left: none;
    z-index: 10;
    height: 500px;
}
.data-container > .data-content:nth-child(odd) {
    align-self: flex-start;
}
.data-container > .data-content:nth-child(even) {
    align-self: flex-end;
}

.pipe-left, .pipe-right {
    height: 200px;
    width: 210px;
    position: absolute;
    /* top: -27px; */
    z-index: 50;
    cursor: pointer;
}
.pipe-left {
    left: 0px;
}
.pipe-right {
    right: 0px;
}

.mario-pipe {
    width: 200px;
    height: 230px;
}

#point1, #point2,  #point4 {
    position: absolute;
    transition: 0.4s;
    top: 8px;
    z-index: 40;
}

#point1, #point3 {
    left: 5px;
}
#point2, #point4 {
    right: 0px;
    transform: scaleX(-1);
}

.point-up {
    top: -121px !important;
}


.plant-pipe {
    width: 170px;
    height: 200px;
}

#plant1, #plant2, #plant3, #plant4 {
    position: absolute;
    transition: 0.4s;
    top: 0px;
    z-index: 40;
    background-image: url("../../assets/images/planta-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: movePlant 0.12s steps(3, end) 1s infinite alternate;
}

#plant1, #plant3 {
    left: 20px;
}
#plant2, #plant4 {
    right: 21px;
}

.plant-up {
    top: -200px !important;
}

@keyframes movePlant {
    0% {
        background-image: url("../../assets/images/planta-1.png");
    }
    100% {
        background-image: url("../../assets/images/planta-2.png");
    }
}



.point-up-plant {
    /* -webkit-transform: translate(0,0) !important; */
}

.plantlarge-content {
    position: relative;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plant-large {
    width: 150px;
    height: 250px;
}


#path-scroll {
    position: absolute;
    /* top: 170px;
    left: 230px; */
    /* background-color: burlywood; */
    z-index: 100;
}

#obj {
    background: blue;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    /* Align center */
    top:-10px;
    left: -10px;
    opacity: 0.5;
}

#point3 {
    position: absolute;
    /* transition: 0.4s; */
    background-image: url("../../assets/images/mario.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 4px;
    z-index: 40;
}
.curve-jump {
    /* M x y (curva) mitad_de_curva altura_curva(negativo) ancho_curva  */
    offset-path: path('M 100 115 q 300 -300 620 0');
    offset-distance: 0%;
    offset-rotate: 0deg;
    animation-name: path-jump;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* animation: path-jump 1s linear alternate forwards; */
}
.curve-jump-reverse {
    offset-path: path('M 100 115 q 300 -300 620 0');
    offset-distance: 0%;
    offset-rotate: 0deg;
    animation-name: path-jump;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes path-jump {
    20% {
        top: -215px;
        motion-offset: 0%;
        offset-distance: 0%;
    }
    50% {
        background-image: url("../../assets/images/mario.png");
        top: -215px;
        motion-offset: 0%;
        offset-distance: 0%;
    }
    51% {
        background-image: url("../../assets/images/mario-jump.png");
    }
    80% {
        top: -215px;
        motion-offset: 100%;
        offset-distance: 100%;
    }
    99% {
        transform: scaleX(1);
        background-image: url("../../assets/images/mario-jump.png");
        /* background-image: url("../../assets/images/mario-plant-2.png"); */
        /* transform: scaleX(-1); */
        top: 200px;
        motion-offset: 100%;
        offset-distance: 100%;
    }
    100% {
        background-image: url("../../assets/images/mario-plant-2.png");
        /* background-image: url("../../assets/images/mario-plant-2.png"); */
        transform: scaleX(-1);
        top: 200px;
        motion-offset: 100%;
        offset-distance: 100%;
    }
}

/* Animación de subir/bajar Planta */
#point4 {
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    top: 185px;
    left: 625px;
    z-index: 40;
}

.anim-move-plant {
    background-image: url("../../assets/images/mario-plant-2.png");
    animation-name: plant-move;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    /* animation-direction: alternate; */
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
}
@keyframes plant-move {
    25% {
        background-image: url("../../assets/images/mario-plant-2.png");
    }
    26% {
        background-image: url("../../assets/images/mario-plant-1.png");
    }
    75% {
        background-image: url("../../assets/images/mario-plant-1.png");
    }
    76% {
        background-image: url("../../assets/images/mario-plant-2.png");
    }
}

/* Fin de la animación */
.flauta {
    width: 30px;
    height: 90px;
    position: absolute;
    transition: 0.4s;
    bottom: 10px;
    z-index: 40;
    right: 0px;
    opacity: 0;
    cursor: pointer;
}

.flauta-anim {
    opacity: 1;
    right: 100px;
}

.viento {
    width: 100px;
    height: 100px;
    position: fixed;
    /* transition: 0.4s; */
    /* bottom: 10px; */
    right: 0px;
    top: 0;
    z-index: 50;
    opacity: 0;
    cursor: pointer;
}

.viento-anim {
    right: 0;
    opacity: 1;
    animation: viento-jump 1s linear forwards;
}
@keyframes viento-jump {
    to {
        right: 100%;
    }
}
