.celeste1 {
    background-color: #3b92b0;
}
.celeste2 {
    background-color: #35649e;
}
.azul1 {
    background-color: #294e7c;
}
.azul2 {
    background-color: #273b75;
}
.azul3 {
    background-color: #101b37;
}
.violeta1 {
    background-color: #9a336f;
}
.violeta2 {
    background-color: #e41f76;
}

.txt-blanco {
    color: #fff;
}